.book-mark-link {
  border-bottom: none;
  display: inline-block;
  position: fixed;
  right: $b2t-position-right;
  top: -10px;
  transition: 0.3s;
tablet-mobile()
}
.book-mark-link::before {
  color: #222;
  content: '\f02e';
  font-size: 32px;
  line-height: 1;
}
.book-mark-link:hover,
.book-mark-link-fixed {
  top: -2px;
}
